<mat-toolbar color="accent" style="margin-bottom: 1%;">
    <span>
    </span>
    <!-- title -->
    <span class="title">Select an item</span>
    <!-- spacer -->
    <span class="spacer"></span>
    <!--sub links-->
        <p class="header">Link 1</p>
        <button 
        class="login"
        color="primary"
        style="transform: scale(.8)"
        mat-mini-fab>
            <mat-icon>link</mat-icon>
        </button>
    
        <p class="header">Link 2</p>
        <button
        class="login"
        color="primary"
        style="transform: scale(.8)"
        mat-mini-fab>
            <mat-icon>link</mat-icon>
        </button>
</mat-toolbar>