<mat-card>
    <mat-card-header>
        <mat-card-title>
            Item List
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list class="app-class">
            <mat-list-item 
            *ngFor="let item of items"
            (click)="selectItem(item)"
            style="height: 100%; margin-bottom: 3%;">
                <span matLine>
                    <h3>
                    {{item.name | titlecase }}
                    </h3>
                </span>
                <span matLine>{{ item.description }}
                    <button mat-icon-button color="warn" class="delete"
                    (click)="deleteItem(item.id); $event.stopImmediatePropagation()"
                    style="position:absolute;
                    left: 80%;
                    bottom: 2%;
                    text-align: center;">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
                    
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>