<!-- TOOLBAR -->
<mat-toolbar color="primary" class="toolbar" *ngIf="isAuthenticated$ | async">
  <!-- nav button -->
  <span>
      <button 
      mat-mini-fab 
      color="accent" 
      (click)="sidenav?.toggle()"
      *ngIf="isAuthenticated$ | async">
          <mat-icon>menu</mat-icon>
      </button>
  </span>
  <!-- title -->
  <span class="title">{{title}}</span>
  <!-- spacer -->
  <span class="spacer"></span>
  <!-- sub-logo -->
    <p class="header">User Info</p>
    <button 
    mat-mini-fab 
    color="accent">
        <mat-icon>face</mat-icon>
    </button>
  <!-- subtitle content -->
      <p class="header">Logout</p>
      <!-- sub-logo + LOGIN -->
    <button
    *ngIf="isAuthenticated$ | async"
    (click)="logout()"
    class="login"
    style="color: whitesmoke;"
    mat-mini-fab
  >
  
    <mat-icon>person</mat-icon>
  </button>
  
</mat-toolbar>

<!-- SIDENAV -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="isAuthenticated$ | async">
      <mat-nav-list>
          <nav>
              <a mat-button class="nav-link"
              *ngFor="let link of links"
              [routerLink]="link.path" routerLinkActive="active">
                  <mat-icon style="transform:scale(1.5)">{{link.icon}}</mat-icon>
                  {{link.title}}
              </a>

          </nav>
      </mat-nav-list>
  </mat-sidenav>
  <div class="main">
      <router-outlet></router-outlet>
      <div class="vertical-space"></div>
  </div>


</mat-sidenav-container>

  <!-- Footer -->
  <footer>
    <div class="card-container">
      <a class="circle-link" 
      title="Link" 
      href="https://www.tylerkleeberger.com" 
      target="_blank" 
      rel="noopener">
        <mat-icon color="accent">person</mat-icon>
          <title>Link</title>
      </a>
      <a class="circle-link"
      title="Other Link"
      href="https://www.google.com"
      target="_blank"
      rel="noopener">
        <mat-icon color="accent">public</mat-icon><title>Other Link</title>
      </a>
    </div>
</footer>