
        <a [routerLink]="['/main']" routerLinkActive="active" style="text-decoration: none;">
            <mat-card>
                <mat-card-header style="padding-bottom: 10px">
                    <mat-card-title style="font-size: x-large;">
                        <button mat-fab color="primary">
                            <mat-icon>view_comfy</mat-icon>
                        </button>
                        First Content Link
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </a>
        <div></div>
        <a [routerLink]="['/minor']" routerLinkActive="active" style="text-decoration: none;">
            <mat-card>
                <mat-card-header style="padding-bottom: 10px">
                    <mat-card-title style="font-size: x-large;">
                        <button mat-fab color="primary">
                            <mat-icon>toll</mat-icon>
                        </button>
                        Second Content Link
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </a>
    